[user]
	name = Markus Wüstenberg
	email = markus@maragu.dk
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	wt = worktree
[init]
	defaultBranch = main
[core]
	excludesFile = ~/.gitignore
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
